<body >@*#F1C27D #FBDDC5 #99EE99 #C7F6B6*@
<section class="vh-50" >
  <div class="container py-5 h-50">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6 border-right">
        <img src="~/images/Coditas_Img (3).png"
          class="img-fluid" alt="Coditas image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form>
          <!-- Email input -->
          <div class="form-outline mb-4">
              @*<label class="form-label" style="color:indigo;"><b>User Name</b></label>*@
            <input type="email" placeholder="User Name" class="form-control" />
            
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
              @*<label class="form-label" style="color:indigo;"><b>Password</b></label>*@
            <input type="password"  placeholder="Password" class="form-control" />
            
          </div>        

          <!-- Submit button -->
          <div class="text-center">
              <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign In"/>
          </div>
          <br /><br />
           <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <a href="#!"><b>Forgot password?</b></a>
            <a asp-action="UserRegistration"  asp-controller="UserAuthentication"><b>Sign Up</b></a>
            @*<div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
              <label class="form-check-label" for="form1Example3"> Remember me </label>
            </div>*@            
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
</body>

<style>
    .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
</style>